@{
    ViewBag.Title = "Yemek Tarifleri";
}
<main>
    <h1 class="p-2">Hoş Geldiniz!</h1>

    <p class="p-2">Yemek tarifleri dünyasına adım atmanın heyecanını yaşıyorsunuz! Bu sitede lezzetli yemek tarifleri bulabilir, yeni tatlar keşfedebilir ve mutfak becerilerinizi geliştirebilirsiniz.</p>

    <p class="p-2">Her damak zevkine hitap eden geniş bir yemek koleksiyonumuz var. Türk mutfağından dünya mutfağına, pratik atıştırmalıklardan özel gün yemeklerine kadar birçok kategoride tarif bulabilirsiniz.</p>

    <p class="p-2">Mutfakta ustalaşmak için sizi motive edecek ipuçları, püf noktaları ve videolu tariflerle dolu bir deneyim sizi bekliyor. Yemek yapmayı seven herkes için burada güzel bir mutfak serüveni başlıyor!</p>

    <p class="p-2">İyi yemek yapmanın sırlarını keşfetmek için göz atın, tarifleri deneyin ve lezzetli sofralar hazırlamanın keyfini çıkarın. Afiyet olsun!</p>
</main>
 
