.login-body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.loginPage {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px;
    max-width: 350px;
    margin: 0 auto;
}

.field-validation-error {
    display: block;
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
}
